<form action="/answer">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="query" placeholder="Ask your coach a question">
  <input type="submit" value="Go on!">
</form>
